<link href = 'https://api.mapbox.com/mapbox-gl-js/v0.46.0-beta.1/mapbox-gl.css' rel='stylesheet' />

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}
#map {
  height: 100vh;
  width: 100vw;
}
